.tabUl {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tabUl li {
  display: inline-block;
  padding: 5px 15px;
  background-color: #eee;
  cursor: pointer;
  color: #999;
}
.tabUl li.active {
  background: #fff;
  color: #333;
}
