.tabUl{
  margin: 0;
  padding: 0;
  list-style: none;
  li{
    display: inline-block;
    padding: 5px 15px;
    background-color: #eee;
    cursor: pointer;
<<<<<<< HEAD
    color: #999;
    &.active{
      background: #fff;
      color: #333
    }
  }
}

=======
    &.active{
      background: #fff;
    }
  }
}
>>>>>>> 950478c000702456d417136c05d980f349396f18
